<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="\home">
      <img src="logoruf.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="\products">
        Jazdenky
      </a>

      <a class="navbar-item" href="https://www.rufautomobile.co.uk/">
        RUF automobile UK
      </a>

      <a class="navbar-item" href="#">
        Simulácia jazdy "Rufákmi"
      </a>

      <a class="navbar-item" href="\contact">
        Kontakt
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav><br>

<br><main><br>

<br><section>
  <div class="columns">
  <div class="column is-half">
  <div  class="center">
   <h1 class="title is-1">O nás</h1>
   <p>RUF Automobile je svetovo uznávaný výrobca a Porsche Tuner.</p><br> 
   <p>V roku 1987 bol RUF Automobile katapultovaný do myslí automobilových
    nadšencov, keď CTR „Yellowbird“ získal titul „Najrýchlejšie auto na svete“ a zrodila sa legenda, ktorá inšpirovala budúcu generáciu
    „Fascinácie RUF“ na celom svete.</p><br> 
    <p>Dnes ponúkame naše najnovšie vozidlo s uhlíkovou platformou - SCR a ponúkame naše svetoznáme prestavby
    na klasické podvozky vozidiel Porsche. Vykonávame aj kompletné opravy a servisné práce.</p><br>
    <p>Spoločnosť RUF - RUF Automobile UK pod vedením
    Aloisa a Estónska bola založená v roku 2016 ako oficiálny partner RUF Automobile GmBh, fungujúca ako „rozšírenie“ centrály
    v Pfaffenhausene, ďalšou dvojicou otca a syna - Markom a Richardom Sekulovými - ktorí majú medzi nimi viac ako 40 rokov skúseností
    v Spojenom kráľovstve a na globálnom trhu automobilového priemyslu.</p>

    <br><br><br><br><div class="block">
        <a href="https://www.rufautomobile.co.uk/", class="button is-success is-rounded">O "RUFÁKOCH" SA VIAC DOČÍTATE TU.."</a>
    </div>

  </div>
  </div>
  <div class="column">
    <%= image_tag("vertikal_ruf.png", alt: "RUF yellow bird") %>
  </div>
</section><br><br>


<section>
  <div class="columns">
  <div class="column is-half">
  <div  class="center">
   <%= image_tag("back_ruf.jpg", alt: "RUF yellow bird") %>
  </div>
  </div>
  <div class="column">
  <div  class="center">
    <h1 class="title is-1">JAZDENKY</h1><br><br>
   <p>Špecializujeme sa na predaj dobre postaraných pre-vlastnených príkladov RUF VIN a RUF konverzií. Predali sme viac príkladov týchto
    vozidiel ako ktokoľvek iný mimo RUF Pfaffenhausen s prístupom ku globálnej sieti predajcov a kupujúcich vozidiel RUF.</p><br> 
   <p>Ak máte príklad RUF VIN, RUF Conversion alebo Specialist Porsche, ktoré hľadáte na predaj, <a href="\contact">kontaktujte nás</a></p><br> 
    <p>Dnes ponúkame naše najnovšie vozidlo s uhlíkovou platformou - SCR a ponúkame naše svetoznáme prestavby
    na klasické podvozky vozidiel Porsche. Vykonávame aj kompletné opravy a servisné práce.</p><br>
    <p>Môžeme ponúknuť odborné poradenstvo, pokiaľ ide o ocenenie vášho RUF, históriu RUF, výrobné špecifikácie, servisné poradenstvo...</p><br>

    <br><br><br><br><div class="block">
        <a href="\products", class="button is-success is-rounded">POZRITE SI NAŠU KOLEKCIU JAZDENIEK</a>
    </div>
    </div>
  </div>
</section><br><br>


<section class="section is-small">
  <div class="center">
<h1 class="title is-1">RUF MODELY</h1>
</div><br><br>

  <%= image_tag("RufProductOne.png", alt: "RUF yellow bird") %>
</section><br><br><br>

<section class="section is-small">
  <%= image_tag("RufProductOne.png", alt: "RUF yellow bird") %>
</section><br><br><br>

<section class="section is-small">
  <%= image_tag("RufProductOne.png", alt: "RUF yellow bird") %>
</section><br><br><br>

</main>

<footer class="footer">
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul class="breadcrumb is-medium">
    <li><a href="\home">Hore</a></li>
    <li><a href="\products">Jazdenky</a></li>
    <li><a href="\contact">Kontakt</a></li>
    <li><a href="https://www.rufautomobile.co.uk/">RUF automobile UK</a></li>
  </ul>
  <p class="center">2023 RUF AUTOMOBILE / FAN_RUF_ESHOP</p>
</nav>
</footer>

