<!-- NAVIGATION -->

<nav>
<div class="tabs is-centered">
  <ul>
    <li><a href="\products">Jazdenky</a></li>
    <li><a  href="https://www.rufautomobile.co.uk/">RUF AUTOMOBILE UK</a></li>
    <li><a href="\home">
      <img src="logoruf.png" width="112" height="28">
    </a></li>
    <li><a href="https://www.ruf-automobile.de/en/">RUF AUTOMOBILE DE</a></li>
    <li><a href="\contact">Kontakt</a></li>
  </ul>
</div>
</nav><br><br>


     <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <div class="icon-nav">
      
    </div>
            </a>


<%# PRODUCTS %>

<section id="products" class="columns">
  <% @products.each do |product| %>

  <div class="column">

<article class="card">
  <header class="card-image">
    <figure class="image">
    <a href="<%= product_path product.id %>">
      <% if product.image.attached? %>
  
      <%= image_tag product.image, :class => 'default', :alt => "photo of product"%> 

    <% else %>

      <%= image_tag image_path "RufProductOne.png" %> 
  
    <% end %>
    </a>
  </figure>
  </header>
  <div class="card-content">
    <div class="media">
      
      <div class="media-content">
        <p class="title is-4">
        
        <%= link_to product.title, product %>
        
        </p>
        <p class="subtitle is-6">
        
        <%= number_to_currency product.price, :unit => '€', format: "%n %u" %>
        
        </p>
      </div>
    </div>

    <div class="block">
        <a href="\contact", class="button is-link is-fullwidth">Like it? Contact us</a>
    </div>


    <div class="content">
      
    <%= product.description.to_plain_text.truncate(150) %>

    </div>
    <div><%# ID  %>

     <p>ID jazdenky:<strong> <%= product.id %> </strong></p><br>

  </div>
</article>

  </div>

   <!--- <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p> 
          -->

  <% end %>
</section>

<%= link_to "New product", new_product_path, class: "button" %><br><br>

<footer class="footer">
  <nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Cieľ</p>
      <p class="title">Jednoznačný</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Kvalita</p>
      <p class="title">Maximálna</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Zákazníci</p>
      <p class="title">100% spokojní</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">To je</p>
      <p class="title">RUF</p>
    </div>
  </div>
</nav><br><br><strong>
  <p class="center">2023 RUF AUTOMOBILE / FAN_RUF_ESHOP</p>
</span><br><br>
<p class="center"><a href="\products">Hore</a> / <a href="\home">Domov</a> / <a href="https://www.rufautomobile.co.uk/">RUF automobile UK</a> / 
<a href="https://www.ruf-automobile.de/en/">RUF automobile DE</a> / <a href="\contact">Kontakt</a></p></strong>
</footer>
