<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <title>Prepojený s dušou motora | RUF</title>
    <link rel="icon" href="logoruf.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


<header></header>

  <%= render "partials/notice" %>

  <main>
  
  <%= yield %>

  </main>

  <footer></footer>
    
  </body>
</html>


